<div class="question-card">

  <h2 class="title">
    {{ question.title }}
  </h2>

  <p class="subtitle">
    {{ question.subtitle }}
  </p>

  <div class="slider" *ngIf="question.type === 'slider'">
    <div class="slider-headings">
      <span class="slider-heading">{{ question.sliderMinLabel }}</span>
      <span class="slider-heading">{{ question.sliderMaxLabel }}</span>
    </div>
    <input
      class="slider-input"
      type="range"
      [min]="sliderMin"
      [max]="sliderMax"
      [value]="sliderValue"
      (input)="onSliderChange($event)"
    />
  </div>

  <div class="options" *ngIf="question.options && question.type === 'multiple'">
    <label
      class="option"
      *ngFor="let option of question.options; let i = index"
      [class.selected]="isOptionSelected(option.id)"
      [style.--i]="i"
    >
      <input
        type="checkbox"
        [value]="option.id"
        [checked]="isOptionSelected(option.id)"
        (change)="onMultiSelect(option)"
      />
      <span class="radio-circle"></span>
      <span class="option-label">{{ option.label }}</span>
    </label>
  </div>

  <div class="options" *ngIf="question.options && question.type === 'single'">
    <label
      class="option"
      [class.with-swatches]="isColorPaletteQuestion"
      *ngFor="let option of question.options; let i = index"
      [class.selected]="isOptionSelected(option.id)"
      [style.--i]="i"
    >
      <input
        type="radio"
        [name]="question.id"
        [value]="option.id"
        [checked]="selectedAnswer === option.id"
        (change)="onSingleSelect(option)"
      />
      <span class="radio-circle"></span>
      <span class="option-label">{{ option.label }}</span>
      
      <div class="color-swatches" *ngIf="isColorPaletteQuestion">
        <span 
          class="color-swatch" 
          *ngFor="let color of getPaletteColors(option.id)"
          [style.background-color]="color">
        </span>
      </div>
    </label>
  </div>

</div>
